# Web crawling
selenium>=4.0.0
beautifulsoup4>=4.11.1

# Google APIs and Authentication
google-api-python-client>=2.70.0
google-auth>=2.16.0
google-auth-httplib2>=0.1.0
google-auth-oauthlib>=0.7.1
oauth2client>=4.1.3
gspread

# Google Cloud Services (for BigQuery interaction)
google-cloud-bigquery>=3.0.0 

# Data processing
pandas>=1.5.0
python-dateutil>=2.8.2
openpyxl